# /home/awood15/personal/Lloyds/.dockerignore
node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
/cloud-sql-proxy
TODO
cluster create

# Local environment files
.env*

# Test files and directories
__tests__/
__fixtures__/

# Other development/tooling artifacts
/postman/
/kubernetes/
seed.js
README.md